<html>
<head>
<title>Tailscale JIT access</title>
</head>
<body>
<h1>Tailscale JIT access</h1>

<p>You are <b>{{.Who}}</b> using <b>{{.NodeName}}</b>.</p>

{{if .AccessTypes}}
<p>You can request access to:</p>
<form method="post" action="/request">
    <p>Type: <select name="accessType">
    {{range .AccessTypes}}
        <option value="{{.Attr}}">{{.Name}}</option>
    {{end}}
    </select> for
    <select name="duration">
        {{range .Durations}}
          <option value="{{.GoStr}}" {{if .Default}}selected{{end}}>{{.Label}}</option>
        {{end}}
    </select>
    </p>
    <p>
        Your rationale: <input type="text" name="reason" size="40" autofocus>
    </p>
    <p>
        <input type="submit" value="Request Access">
    </p>
</form>
{{else}}
    <p>No access types configured or available.</p>
{{end}}

</body>
</html>
